.card{
    
    text-align: center;
}
.rest{
    font-size: 28px;
    color: orangered;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    }

 img{
    width: 285px;
    height: 250px;
}